.search-contain {

    flex-direction: row;
    align-items: center;
    padding: 10px;
  }

  .search-contain button {
    background: transparent;
    border: 2px solid white;
    color: white;
  
  }
  
  .search-contain button:hover {
    background: white;
    color: #E4A725;
    cursor: pointer;
  }

  
  .search-label {
    padding-right: 0.5rem;
   
    font-weight: bold;
    color:white;
  }
  
  .search-input {
    width: 600px;
    height: 35px;
    margin-right: 1rem;

  }
  
