table {
  
    border-collapse: collapse;
    width: 100%;
    
  }
  
  table td,
  table th {
    border: 2px solid #ae8327;
    padding: 5px;
    
  }
  
  table tr:nth-child(even) {
    background-color: #E4A725;
    color: white;
    
  }
  
  table tr:hover {
    background-color: #e4a72550;
  }
  
  table th, tfoot td {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    color: rgb(0, 0, 0);
    
  }
